.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;

    
    &-clock {
        background-image: url(svg("clock.svg"));
        
        &-primary {
            background-image: url(svg("clock.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("clock.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("clock.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("clock.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("clock.svg", #d9534f));
        }
        
    }
    
    &-close {
        background-image: url(svg("close.svg"));
        
        &-primary {
            background-image: url(svg("close.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("close.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("close.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("close.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("close.svg", #d9534f));
        }
        
    }
    
    &-dislike {
        background-image: url(svg("dislike.svg"));
        
        &-primary {
            background-image: url(svg("dislike.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("dislike.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("dislike.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("dislike.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("dislike.svg", #d9534f));
        }
        
    }
    
    &-download {
        background-image: url(svg("download.svg"));
        
        &-primary {
            background-image: url(svg("download.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("download.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("download.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("download.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("download.svg", #d9534f));
        }
        
    }
    
    &-expand {
        background-image: url(svg("expand.svg"));
        
        &-primary {
            background-image: url(svg("expand.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("expand.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("expand.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("expand.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("expand.svg", #d9534f));
        }
        
    }
    
    &-fullscreen {
        background-image: url(svg("fullscreen.svg"));
        
        &-primary {
            background-image: url(svg("fullscreen.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("fullscreen.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("fullscreen.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("fullscreen.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("fullscreen.svg", #d9534f));
        }
        
    }
    
    &-like {
        background-image: url(svg("like.svg"));
        
        &-primary {
            background-image: url(svg("like.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("like.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("like.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("like.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("like.svg", #d9534f));
        }
        
    }
    
    &-pause {
        background-image: url(svg("pause.svg"));
        
        &-primary {
            background-image: url(svg("pause.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("pause.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("pause.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("pause.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("pause.svg", #d9534f));
        }
        
    }
    
    &-play {
        background-image: url(svg("play.svg"));
        
        &-primary {
            background-image: url(svg("play.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("play.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("play.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("play.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("play.svg", #d9534f));
        }
        
    }
    
    &-plus {
        background-image: url(svg("plus.svg"));
        
        &-primary {
            background-image: url(svg("plus.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("plus.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("plus.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("plus.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("plus.svg", #d9534f));
        }
        
    }
    
    &-quote {
        background-image: url(svg("quote.svg"));
        
        &-primary {
            background-image: url(svg("quote.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("quote.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("quote.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("quote.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("quote.svg", #d9534f));
        }
        
    }
    
    &-repeat {
        background-image: url(svg("repeat.svg"));
        
        &-primary {
            background-image: url(svg("repeat.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("repeat.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("repeat.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("repeat.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("repeat.svg", #d9534f));
        }
        
    }
    
    &-search {
        background-image: url(svg("search.svg"));
        
        &-primary {
            background-image: url(svg("search.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("search.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("search.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("search.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("search.svg", #d9534f));
        }
        
    }
    
    &-settings {
        background-image: url(svg("settings.svg"));
        
        &-primary {
            background-image: url(svg("settings.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("settings.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("settings.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("settings.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("settings.svg", #d9534f));
        }
        
    }
    
    &-share {
        background-image: url(svg("share.svg"));
        
        &-primary {
            background-image: url(svg("share.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("share.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("share.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("share.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("share.svg", #d9534f));
        }
        
    }
    
    &-star {
        background-image: url(svg("star.svg"));
        
        &-primary {
            background-image: url(svg("star.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("star.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("star.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("star.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("star.svg", #d9534f));
        }
        
    }
    
    &-user {
        background-image: url(svg("user.svg"));
        
        &-primary {
            background-image: url(svg("user.svg", #337ab7));
        }
        
        &-success {
            background-image: url(svg("user.svg", #5cb85c));
        }
        
        &-info {
            background-image: url(svg("user.svg", #5bc0de));
        }
        
        &-warning {
            background-image: url(svg("user.svg", #f0ad4e));
        }
        
        &-danger {
            background-image: url(svg("user.svg", #d9534f));
        }
        
    }
    
}
